@import "global";

/* Portrait */

#header {
	z-index: 10;
	height: 96px;
	width: 100vw;
	position: fixed;
	right: 0;
	top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		height: 48px;
		width: 48px;
		margin-left: 50px;
	}

	.hr {
		position: fixed;
		right: 55vw;
		width: 33vw;
		height: 1px;
		display: block;
		background-color: #979797;
		opacity: 0.5;
		z-index: 2;
	}

	.navbar-menu {
		position: fixed;
		font-size: 32px;
		top: 33px;
		right: 24px;
		display: none;
	}

	.navbar-exit {
		font-size: 32px;
		color: $white;
		z-index: 10;
		position: fixed;
		top: 34px;
		right: 26px;
		z-index: 100;
		display: none;
	}

	#navbar {
		display: flex;
		justify-content: center;
		width: 57vw;
		min-width: 500px;
		gap: 48px;
		padding-right: 6vw;
		backdrop-filter: blur(80px);
		background-color: rgba(151, 151, 151, 0.1);

		a {
			display: block;
			padding: 38px 0px;
			text-decoration: none;
			transform: 1s;

			&:after {
				content: "";
				display: block;
				background-color: $grey;
				height: 3px;
				width: 0;
				position: relative;
				top: 38px;
				transition: 0.3s;
			}

			&:hover:after {
				width: 100%;
			}

			span {
				font-weight: bold;
			}
		}

		.active:after {
			content: "";
			display: block;

			background-color: $white;
			height: 3px;
			width: 100%;
			position: relative;
			top: 38px;
		}
		@media (max-width: 1240px) {
			padding-right: 0;
		}
	}

	//nav bar media queries
	@media (max-width: 1023px) {
		top: 0;
		.hr {
			display: none;
		}

		#navbar {
			gap: 37px;
		}
	}

	//responsive
	@media (max-width: 768px) {
		.logo {
			width: 40px;
			height: 40px;
			margin-left: 24px;
		}

		.navbar-menu {
			display: block;
		}

		.navbar-exit {
			display: block;
		}

		#navbar {
			background-color: rgba(89, 100, 131, 0.1);
			position: fixed;
			top: 0;
			right: 0;
			flex-direction: column;
			min-width: 67vw;
			padding: 118px 0 0 0;
			backdrop-filter: blur(30px);
			height: 100vh;
			justify-content: flex-start;
			gap: 0 !important;
			display: flex;
			transition: right 0.5s ease-in;

			a {
				font-size: 1.6rem;
				letter-spacing: 2.7px;
				padding: 24px 32px;

				&:after {
					display: none;
				}

				span {
					margin-right: 14px;
				}
			}

			.active:after {
				display: none;
			}
		}

		.hide-navbar {
			right: -100% !important;
		}
	}
}

#home {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-image: url("../assets/home/background-home-desktop.jpg");
	background-size: cover;

	.hero-text {
		max-width: 450px;

		h1 {
			margin: 24px 0;

			@media (max-width: 480px) {
				margin: 16px 0;
			}
		}

		h5 {
			margin-top: 250px;

			@media (max-width: 950px) {
				margin-top: 150px;
			}
		}

		h5,
		p {
			color: $lightblue;
		}

		@media (max-width: 480px) {
			padding: 20px;
		}
	}

	.explore-circle {
		margin-top: 400px;
		width: 275px;
		height: 275px;
		background-color: white;
		display: grid;
		place-items: center;
		border-radius: 50%;
		text-decoration: none;
		position: relative;
		z-index: 1;

		&:before {
			content: "";
			width: 274px;
			height: 274px;
			position: absolute;
			border-radius: 50%;
			opacity: 0.5;
			transition: 1s ease;
			z-index: -1;
		}

		&:hover:before {
			width: 450px;
			height: 450px;
			background-color: $grey;
		}

		h4 {
			text-align: center;
			color: #0b0d17;
			z-index: 10;
		}

		@media (max-width: 950px) {
			margin-top: 0;
			width: 242px;
			height: 242px;
		}

		@media (max-width: 48px) {
			width: 150px;
			height: 150px;
		}
	}

	@media ((max-width: 1023px)) {
		background-image: url("../assets//home/background-home-tablet.jpg");
	}

	@media (max-width: 950px) {
		flex-direction: column;
		text-align: center;
	}

	@media ((max-width: 480px)) {
		background-image: url("../assets//home/background-home-mobile.jpg");
	}
}

#destination {
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-image: url("../assets/destination/background-destination-desktop.jpg");
	background-size: cover;

	.destination-intro {
		text-transform: uppercase;
		margin: 200px 0 64px 11vw;

		span {
			opacity: 0.25;
			margin-right: 28px;
		}

		@media (max-width: 1023px) {
			margin: 136px 0 30px 40px;
		}
		@media (max-width: 768px) {
			text-align: center;
			margin-right: 0;
			margin-left: 0;
		}
	}

	.destination-wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		img {
			margin-top: 30px;
			width: 445px;
			height: 445px;

			@media (max-width: 1023px) {
				width: 300px;
				height: 300px;
			}

			@media (max-width: 768px) {
				width: 170px;
				height: 170px;
			}
		}

		.destination-content {
			max-width: 445px;

			@media (max-width: 1023px) {
				text-align: center;
			}
			@media (max-width: 480px) {
				padding: 0 20px;
			}

			ul {
				display: flex;
				gap: 35px;

				@media (max-width: 1023px) {
					justify-content: center;
					margin-top: 50px;
				}

				.active {
					color: $white;

					&:after {
						background-color: white;
					}
				}

				a {
					text-decoration: none;
					text-transform: uppercase;
					color: $lightblue;
					line-height: 34px;
					transform: 1s;

					&:after {
						content: "";
						display: block;
						height: 3px;
						width: 0;
						width: 100%;
						position: relative;
						top: 0px;
						transition: background-color 0.5s;
					}

					&:hover:not(.active):after {
						background-color: $grey;
					}
				}
			}

			h2 {
				margin: 37px 0 15px;
				@media (max-width: 1023px) {
					margin: 30px 0 0;
				}
			}

			p {
				color: $lightblue;
				margin-bottom: 54px;
				@media (max-width: 1023px) {
					margin-bottom: 30px;
				}
			}

			.hr {
				height: 1px;
				width: 100%;
				background-color: $grey;
				opacity: 0.5;
				margin-bottom: 28px;
			}

			table {
				.subhead-2 {
					color: $lightblue;
					text-transform: uppercase;
				}

				td {
					width: 221px;
					text-transform: uppercase;
				}
			}
		}
	}

	@media ((max-width: 1023px)) {
		background-image: url("../assets/destination/background-destination-tablet.jpg");

		.destination-wrapper {
			flex-direction: column;
		}
	}
	@media ((max-width: 480px)) {
		background-image: url("../assets/destination/background-destination-mobile.jpg");
	}
}

#crew {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url("../assets/crew/background-crew-desktop.jpg");
	background-size: cover;

	.crew-intro {
		text-transform: uppercase;
		margin: 200px 0 0px 11vw;

		span {
			opacity: 0.25;
			margin-right: 28px;
		}

		@media (max-width: 1023px) {
			margin: 136px 0 0px 40px;
		}
		@media ((max-width: 768px)) {
			margin-left: 0;
			text-align: center;
		}
	}

	.crew-wrapper {
		position: relative;
		display: flex;
		position: relative;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		height: calc(100vh - 234px);

		.crew-contents {
			max-width: 620px;
			height: 100%;
			@media (max-width: 1023px) {
				text-align: center;
				height: auto;
			}

			h4 {
				text-transform: uppercase;
				opacity: 0.5;
				margin: 154px 0 15px;

				@media (max-width: 1200px) {
					margin-top: 60px;
				}

				@media (max-width: 1023px) {
					margin-bottom: 8px;
				}

				@media ((max-width: 768px)) {
					margin-top: 0;
				}
			}

			h3 {
				text-transform: uppercase;
				margin-bottom: 29px;
				@media (max-width: 1023px) {
					margin-bottom: 16px;
				}
			}

			p {
				max-width: 444px;
				height: 160px;
				color: $lightblue;
				margin-bottom: 88px;

				@media (max-width: 1200px) {
					margin-bottom: 50px;
				}

				@media (max-width: 1023px) {
					height: auto;
					margin: auto;
					margin-bottom: 40px;
				}

				@media ((max-width: 768px)) {
					padding: 0 15px;
				}
			}

			.crew-nav {
				@media (max-width: 1023px) {
					display: flex;
					justify-content: center;
					margin-bottom: 30px;
				}
			}

			.small-dots {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: $grey;
				margin-right: 24px;
				display: inline-block;
				opacity: 0.17;
				transition: background-color 1s;

				&:hover {
					opacity: 0.5;
				}
			}

			.active {
				background-color: $white;
				opacity: 1;
			}
		}

		.img-container {
			height: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: center;

			@media (max-width: 1200px) {
				width: 400px;
			}
			@media ((max-width: 768px)) {
				width: 100%;
			}

			img {
				display: inline-block;
				overflow: hidden;
				display: block;
				max-width: 500px;

				@media (max-width: 1200px) {
					max-width: 100%;
				}

				@media (max-width: 1023px) {
					max-height: 100%;
				}
			}
		}

		@media (max-width: 1023px) {
			flex-direction: column;
			align-items: center;
			padding-top: 160px;
		}
	}

	@media ((max-width: 1023px)) {
		background-image: url("../assets/crew//background-crew-tablet.jpg");
	}
	@media ((max-width: 480px)) {
		background-image: url("../assets/crew/background-crew-mobile.jpg");
	}
}

#technology {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	margin: auto;
	background-image: url("../assets/technology/background-technology-desktop.jpg");
	background-size: cover;

	@media ((max-width: 1023px)) {
		background-image: url("../assets/technology/background-technology-tablet.jpg");
	}
	@media ((max-width: 480px)) {
		background-image: url("../assets/technology/background-technology-mobile.jpg");
	}

	.technology-intro {
		text-transform: uppercase;
		margin: 200px 0 26px 11vw;

		@media (max-width: 1023px) {
			margin: 136px 0 30px 40px;
		}
		span {
			opacity: 0.25;
			margin-right: 28px;
		}
	}

	.technology-wrapper {
		display: flex;
		justify-content: space-between;

		.technolo-content {
			display: flex;
			margin-left: 11vw;
			align-items: center;
		}

		.technology-navbar {
			margin-right: 80px;

			a {
				display: block;
				display: grid;
				place-items: center;
				text-decoration: none;
				color: $white;
				width: 80px;
				height: 80px;
				background-color: transparent;
				border: 1px solid #4a4b54;
				border-radius: 50%;
				margin-bottom: 32px;
				transition: 1s;

				&:hover {
					border: 1px solid $white;
				}
			}

			.active {
				background-color: $white;

				h4 {
					color: black;
				}
			}
		}

		.technology-info-wrapper {
			width: 470px;

			.nav-text {
				color: $lightblue;
				margin-bottom: 11px;
			}

			.technology-info {
				color: $lightblue;
				margin-top: 17px;
				width: 444px;
			}
		}

		.technology-image {
			width: 60%;
		}
	}
}
